
#menu, #footer {
	background-color:#FFF;
	box-shadow:0 0 8px #EEB;
} #submenu {
	background-color:transparent;
}

em {
	color:#660!important;
} a {
	color:#771;
}

pre code {
	border:none;
}

/* FIXME: Use icons? */

.work-in-progress,
.planned-feature, .new-feature, .deprecated, .mandatory, .recommended {
	margin:15px;
	padding:8px;
	border-radius:6px;
	border-left:3px solid;
}

.work-in-progress {
	box-shadow:0 0 8px #EEC;
	color:#660;
	font-weight:bold;
}

.planned-feature, .new-feature {
	box-shadow:0 0 10px #CDE;
	border-color:#CDE;
} .deprecated {
	box-shadow:0 0 10px #FB9;
	border-color:#FB9;
} .mandatory {
	box-shadow:0 0 10px #ECA;
	border-color:#ECA;
} .recommended {
	box-shadow:0 0 10px #BDB;
	border-color:#BDB;
}

